<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户首页</title>
    <link rel="stylesheet" href="/css/Header.css" />
    <link rel="stylesheet" href="/css/Posts.css">
    <link rel="stylesheet" href="/css/Homepage.css">
    <link rel="stylesheet" href="/css/SideBox.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>

  <body>
    
    <!--头部-->
    <div
      class="header-box"
      th:insert="~{/bigUnit/Header::header-box}"
    ></div>

    <!--导航栏-->
    <div class="nav-box" th:insert="~{/bigUnit/Header::nav-box}"></div>

    <div class="homepage-main">
        未找到相关用户
    </div>

    <!--登录-->
    <div class="login-box" th:insert="~{/bigUnit/Login::login-box}"></div>
    <!--蒙层-->
    <div class="mask"></div>
    <div class="homepage-footer">
      <!--回到首页-->
      <div class="back-to-end"></div>
    </div>
    
  </body>
  
  <script src="/js/Header.js?v=1.0"></script>
  <script src="/js/Posts.js?v=1.0"></script>
  <script src="/js/HomePage.js?v=1.0"></script>

</html>
